extends layouts/main-layout.pug

block content
    +createPostForm(userloggedin)
    .postContainer
    
    +createReplyModal(userloggedin)


block scripts
    script(src="/js/home.js") 






   



 


       


